@import "helpers/variables";

.shuffle {
  border-radius: 6px;
  box-shadow: $button-shadow;
  color: white;
  font-size: 19px;
  background: $violet;
  padding: 2% 0;
  outline: none;
  &:hover {
    box-shadow: $buttonHover-shadow;
    background: $purple;
    cursor: pointer;
  }
  &:active {
    box-shadow: $buttonActive-shadow;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}