@import "helpers/variables";
@import "helpers/mixins";

@import url('https://fonts.googleapis.com/css?family=Enriqueta');

.cell {
  background: white;
  box-shadow: $cell-shadow;
  color: $cellText-color;
  font: {
    family: 'Enriqueta', Arial, serif;
    size: 2em;
    weight: bold;
  };
  transition: all .3s ease-in;
  border: 1px solid;
  box-sizing: border-box;
  @include make-square;
  .inner {
    margin: 0;
    height: 100%;
    @include center-align;
  }
}

.empty {
  opacity: 0;
}