@import "helpers/mixins";

input[type=range] {
  -webkit-appearance: none;
  outline: none;
  &::-webkit-slider-runnable-track {
    @include track-style;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb-style;
    margin-top: -5px;
  }

  &::-moz-range-track {
    @include track-style;
  }
  &::-moz-range-thumb {
    @include thumb-style;
  }
  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
  &::-ms-track {
    @include track-style;
  }
  &::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
  }
  &::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
  }
  &::-ms-thumb {
    @include thumb-style;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 0 !important;
    &::-webkit-slider-runnable-track {
      background: #ccc;
    }
    &::-moz-range-track {
      background: #ccc;
    }
    &::-ms-fill-lower {
      background: #888;
    }
    &::-ms-fill-upper {
      background: #ccc;
    }
  }
}