$winText-shadow: 2px 1px 4px black;
$winText-color: #f7f6e1;
$win-background: rgba(0, 0, 0, .5);

$board-shadow: inset 2px 2px 10px, inset -2px -2px 10px;

$cell-shadow: 5px 5px 10px, -1px -1px 5px rgba(0, 0, 0, .5);
$cellText-color: #333;

$button-shadow: 1px 1px 3px #666666;
$buttonHover-shadow: 3px 3px 8px #666666;
$buttonActive-shadow: inset 1px 1px 10px black;
$violet: #460064;
$purple: #61007c;

